h2 {
    margin: 5px 5px;
    padding: 5px 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
h3 {
    margin: 5px 5px;
    padding: 5px 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.display__store {
    /* width: 350px; */
    width: 99%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* margin: 10px 10px; */
}
.display__line {
    background-color: #243238;
    /* margin: 12px 4px; */
    height: 0.5px !important;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
